# editor files
*~

# object files
*.o

# compiled executables
/cpp/docsim-analyze
/cpp/docsim-compare
/cpp/docsim-concat
/cpp/docsim-overlap
/cpp/findkgram
/cpp/kgramkey
/cpp/lib/test_pstats
/cpp/lib/test_KeyTable3Element
/cpp/lib/test_KeyTable
/cpp/lib/test_KeyMap
/cpp/lib/test_KgramInfo
/cpp/lib/test_kgrams
/cpp/lib/*.dSYM